/*--
    Common Css
--*/

@import 'tailwindcss';

@theme {
  --text-4xl: 2.5rem;
  --text-4xl--line-height: 3rem;
  --text-3xl: 1.875rem;
  --text-3xl--line-height: 2.375rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  /* @apply scroll-smooth; */
  @apply h-full;
}

body {
  @apply font-light;
  font-family: 'Helvetica', 'Arial', sans-serif;
  @apply antialiased;
  @apply h-full;
}

#__next {
  @apply h-full;
  @apply flex;
  @apply flex-col;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply m-0;
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

p {
  @apply text-lg;
}

ul {
  @apply p-0;
  @apply m-0;
  @apply list-none;
}
